<div class="wrap-estoque">

    <img class="logo-impercap"  src="../../../assets/logo-impercap.png" />
      
    <div class="titulo-estoque" >ESTOQUE</div>
    <div class="titulo-destaque" >Destaque</div>
    <div class="titulo-departamentos">Departamentos</div>


    <div class="slide-destaque" >
            <img class="elipse-destaque1" routerLink="/listagemProdutos">  
            <div class="wrt-destaque1"  >Painéis De Comando</div>
            <img class="elipse-destaque2" routerLink="/listagemProdutos" >
            <div class="wrt-destaque2" >Acessórios para Sauna</div>
    </div>

    <div class="slide-departamento" >
            <div class="wrt-piscina">Piscina</div>
            <div class="wrt-sauna">Sauna</div>
            <img class="elipse-sauna"  routerLink="/listagemProdutos">
            <img class="elipse-piscina"  routerLink="/listagemProdutos"/>
    </div>


    <div class="btn-addprdt"   routerLink="/AdicionarProduto" > </div>
    <div class="wrt-addprdt" >Adicionar Produto</div>
    
    <div class="btn-editprdt" routerLink="/editarProdutos"></div>
    <div class="wrt-editprdt" >Editar Produto</div>

    <div class="btn-gerenciar" routerLink="/gerenciarDestaques"></div>
    <div class="wrt-gerenciar" >Gerenciar Destaque</div>


</div>