/* wrt = write/escrita  --   elipse = elipses da tela   --  prdt = produto  */

.logo-impercap {

    width: 45%; 
    height: 6rem; 
    left: 30%; 
    top: 46px; 
    position: absolute

}

.wrap-estoque{

    width: 100%; 
    height: 100%; 
    position: relative; 
    background: #F5F5F5

}

.slide-destaque {

   width: 255px; 
   height: 146px; 
   left: 42px; 
   top: 249px; 
   position: absolute

}

.elipse-destaque1 {

    width: 99px; 
    height: 99px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    border-radius: 50px; 
    background-color: aquamarine; 

}

.elipse-destaque2 {

    width: 102px; 
    height: 102px; 
    left: 153px; 
    top: 0px; 
    position: absolute; 
    border-radius: 9999px; 
    background-color: aquamarine;

}

.elipse-sauna {

    width: 99px; 
    height: 99px; 
    left: 152px; 
    top: 0px; 
    position: absolute; 
    border-radius: 9999px; 
    background-color:aqua;

}

.elipse-piscina {

    width: 99px; 
    height: 99px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    border-radius: 50px; 
    background-color: aquamarine; 

}

.wrt-destaque1 {

    width: 83px; 
    height: 34px; 
    left: 11px; 
    top: 112px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 14px; 
    font-family: Montserrat; 
    font-weight: 800; 
    word-wrap: break-word

}

.wrt-destaque2{

    width: 91px; 
    height: 34px; 
    left: 152px; 
    top: 112px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 14px; 
    font-family: Montserrat; 
    font-weight: 800; 
    word-wrap: break-word

}

.wrt-piscina {

    width: 62px; 
    height: 15px; 
    left: 18px; 
    top: 108px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 14px; 
    font-family: Montserrat; 
    font-weight: 800; 
    word-wrap: break-word

}

.wrt-sauna{

    width: 62px; 
    height: 15px; 
    left: 170px; 
    top: 108px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 14px; 
    font-family: Montserrat; 
    font-weight: 800; 
    word-wrap: break-word

}

.titulo-estoque {

    width: 20%; 
    height: 3%; 
    left: 18px; 
    top: 139px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 14px; 
    font-family: Montserrat; 
    font-weight: 800; 
    word-wrap: break-word

}

.titulo-destaque{

    width: 25%; 
    height: 3%; 
    left: 38px; 
    top: 204px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 14px; 
    font-family: Montserrat; 
    font-weight: 800; 
    word-wrap: break-word

}

.titulo-departamentos {

    width: 30%; 
    height: 3%; 
    left: 42px; 
    top: 443px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 14px; 
    font-family: Montserrat; 
    font-weight: 800; 
    word-wrap: break-word

}

.slide-departamento {

   width: 251px; 
   height: 141px; 
   left: 64px; 
   top: 494px; 
   position: absolute

}

.btn-addprdt {

    width: 284px; 
    height: 49px; 
    left: 47px; 
    top: 662px; 
    position: absolute; 
    background: #D9D9D9; 
    border-radius: 10px

}

.btn-editprdt{

    width: 284px; 
    height: 49px; 
    left: 47px; 
    top: 759px; 
    position: absolute; 
    background: #D9D9D9; 
    border-radius: 10px

}

.btn-gerenciar {

    width: 284px; 
    height: 49px; 
    left: 47px; 
    top: 859px; 
    bottom: 5%; 
    position: absolute; 
    background: #D9D9D9; 
    border-radius: 10px

}

.wrt-addprdt {

    width: 140px; 
    height: 14px; 
    left: 131px; 
    top: 677px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 14px; 
    font-family: Montserrat; 
    font-weight: 800; 
    word-wrap: break-word

}

.wrt-editprdt{

    width: 140px; 
    height: 14px; 
    left: 131px; 
    top: 774px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 14px; 
    font-family: Montserrat; 
    font-weight: 800; 
    word-wrap: break-word

}

.wrt-gerenciar{

    width: 157px; 
    height: 14px; 
    left: 131px; 
    top: 874px;  
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 14px; 
    font-family: Montserrat; 
    font-weight: 800; 
    word-wrap: break-word

}

