
<div class="Home" style="width: 100%; height: 100%; position: relative; background: #F5F5F5"  >
    
  <img class="LogoImpercap"  src="../../../assets/Untitled.png" />
   
   
    <div class="caixa-estoque" routerLink="/estoque"></div>
    <div class="caixa-financeiro" ></div>
    <div class="caixa-ordems"></div>
    <div class="caixa-clientes"></div>
   
    <div class="wrt-ordem">Ordem De Serviço</div>
    <div class="wrt-estoque">Estoque</div>
    <div class="wrt-financeiro">Financeiro</div>
    <div class="wrt-clientes" >Clientes</div>
  </div>
