<div class="wrap-addpedido">

  <img class="logo-impercap"src="../../../../assets/logo-impercap.png"/>
  
  <div class="titulo-editprdt">ADICIONAR PRODUTO</div>
  <div class="separador"></div>

  <div class="wrt-nome" >NOME</div>
  <input class="input-nome">

  <div class="wrt-valor">VALOR UNITARIO</div>
  <input class="input-valor">

  <div class="wrt-detalhes">DETALHES</div>
  <input class="input-detalhes">

  <div class="wrt-dpto">DEPARTAMENTO</div>
      <input class="check-pisc" type="checkbox" >
      <input class="check-saun" type="checkbox" >
      <input class="check-outr" type="checkbox" >
      
  <div class="wrt-piscinas" >Piscinas</div>
  <div class="wrt-saunas" >Saunas</div>
  <div class="wrt-outros">Outros</div>
  
  <div class="wrt-destaque" >Adicionar Ao Destaque</div>
  <input class="check-dest" type="checkbox">
 
  <div class="btn-atualizar" routerLink="/listagemProdutos"></div>
  <div class="wrt-btn">ADICIONAR</div>
  
 
</div>