.logo-impercap {

    width: 152px; 
    height: 76px; 
    left: 119px; 
    top: 46px; 
    position: absolute

}

.wrap-addpedido{

    width: 100%; 
    height: 100%; 
    position: relative; 
    background: #F5F5F5

}

.titulo-editprdt{

    width: 181px; 
    height: 14px; 
    left: 20px; 
    top: 155px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 14px; 
    font-family: Montserrat; 
    font-weight: 800; 
    word-wrap: break-word

}

.wrt-nome {

    left: 63px; 
    top: 224px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 14px; 
    font-family: Montserrat; 
    font-weight: 800; 
    word-wrap: break-word

}

.separador {

    width: 357px; 
    height: 0px; 
    left: 15px; 
    top: 200px; 
    position: absolute; 
    border: 0.50px #DEDEDE solid

}

.input-nome {

   width: 285px; 
   height: 35px; 
   left: 44px; 
   top: 258px; 
   position: absolute; 
   background: white; 
   border-radius: 10px; 
   border-left: 0.50px #BDBDBD solid; 
   border-top: 0.50px #BDBDBD solid; 
   border-right: 0.50px #BDBDBD solid; 
   border-bottom: 0.50px #BDBDBD solid

}

.wrt-valor{

    left: 62px; 
    top: 407px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 14px; 
    font-family: Montserrat; 
    font-weight: 800; 
    word-wrap: break-word

}

.wrt-dpto{

    left: 62px; 
    top: 508px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 14px; 
    font-family: Montserrat; 
    font-weight: 800; 
    word-wrap: break-word

}

.input-valor {

    width: 285px; 
    height: 35px; 
    left: 44px; 
    top: 437px; 
    position: absolute; 
    background: white; 
    border-radius: 10px; 
    border-left: 0.50px #BDBDBD solid; 
    border-top: 0.50px #BDBDBD solid; 
    border-right: 0.50px #BDBDBD solid; 
    border-bottom: 0.50px #BDBDBD solid

}