<div class="wrap-gdestaque">
    <img class="logo-impercap"  src="../../../assets/logo-impercap.png"/>
  
    <div class="wrt-gdestaque">GERENCIAR DESTAQUE</div>
    <div class="wrt-addm">ADICIONAR MODULO</div>
    <div class="wrt-modulos">MODULOS EM DESTAQUE</div>
    
    <input class="add-modulo" >
    
    <select class="check-destaque" >
        <option type="checkbox" value="piscina">Piscina </option>
        <option type="checkbox" value="piscina">Sauna </option>
        <option type="checkbox" value="piscina">Acessorios </option>
        <option type="checkbox" value="piscina">Piscina </option>
    </select>
    
    <div class="btn-att" routerLink="/estoque"></div>
    <div class="wrt-btn" >ATUALIZAR</div>
 
</div>